:root {
  --primary: #f19a33;
  --secondary: #8bab6a;
  --orange: #fad68a;
  --light-orange: #f4ebce;
  --light: #eee;
  --light-grey: #dde2e6;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Barlow", sans-serif;
}

.nav {
  height: 60px;
  width: 100%;
  background-color: var(--primary);
  position: relative;
  font-family: "Barlow", sans-serif;
}

.nav > .nav-header {
  display: inline;
}

.nav-title img {
  width: 140px;
  height: auto;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 1.5em;
  color: var(--light);
  padding: 10px;
  width: 10%;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.3em;
  font-weight: bold;
  margin-right: 2%;
  font-family: "Barlow", sans-serif;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 18px 20px;
  text-decoration: none;
  color: var(--light);
}

.nav > .nav-links > a:hover {
  background-color: var(--secondary);
}

.nav-links span {
  color: var(--dark);
  padding: 18px 20px;
}

.log-out-btn {
  background-color: var(--secondary);
  border: 0;
  color: var(--light);
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
}

/* query */
/* 
@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  } 
}*/
