/* :root Selects the document's root element */
/* The var() CSS function can be used to insert the value of a custom property (sometimes called a "CSS variable") instead of any part of a value of another property */

/* --a custom property */
:root {
  --primary: #f19a33;
  --secondary: #8bab6a;
  --orange: #fad68a;
  --light-orange: #f4ebce;
  --light: #eee;
  --light-grey: #dde2e6;
  --grey: #888;
  --dark: #313154;
  --danger: #ff5b57;

  --shadow: 0 1px 1px var(--orange);
}

.meal-planner h1 {
  text-align: center;
  font-size: 2.3em;
  color: black;
  text-shadow: 1px 1px var(--light-grey);
  margin-top: 5%;
  font-family: "Homemade Apple", cursive;
  letter-spacing: 0.1em;
}

.meal-planner img {
  margin: 0 45% 0;
  width: 5%;
}

.planner-wrapper {
  width: 80%;
  margin: 5% 10% 0;
  height: auto;
  font-family: "Barlow", sans-serif;
}

.planner-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-content: space-around;
  font-size: 2em;
  background-color: var(--secondary);
  color: var(--light);
  padding: 1%;
  text-shadow: 0 1px 1px var(--orange);
}

.planner-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  background-color: var(--light-grey);
}

.planner-container h2 {
  text-align: center;
}

.planner-card {
  border: 2px solid var(--light);
  padding: 10% 5%;
}

.planner-card h4 {
  color: var(--dark);
  text-shadow: 0 2px 2px var(--light-grey);
  font-size: 1em;
  font-weight: lighter;
  padding: auto;
}

.format-date h3 {
  padding-bottom: 15%;
  color: var(--light);
  font-size: 2em;
  text-align: end;
}

.meals a p {
  color: var(--dark);
  padding: 10% 0;
  font-weight: bold;
}

.meals a p:hover {
  color: var(--primary);
}

.btn-print {
  background-color: var(--primary);
  margin: 3% 0 10%;
  border: 0;
  color: var(--light);
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btn-print:hover {
  transition: 0, 3s;
  background-color: var(--secondary);
}

@media print {
  .nav {
    display: none;
  }
}
@media print {
  footer {
    display: none;
  }
}
